@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
    font-family: 'DM Sans' , sans-serif;
}

.logo{
    color: #1E0E62;
    font-weight: bold;
}

.link{
    color: #15143966;
}

.hero h1{
    color: #1E0E62;
    font-size: 70px;
    font-weight: bold;
}

p{
    width: 37%;
    color: #15143966;
}

@media(max-width:768px){
    body{
        overflow-x: none;
    }

    .hero h1{
        font-size: 50px;
        width: auto;
        margin: auto;

    }

    p{
        width: 90%;
    }
}